---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Miguel Ángel, soy un Apasionado por la tecnología. 
      Empecé en el Business Intelligecne, el análisis de datos y el desarrollo 
      de productos y servicios <strong>
        porque esta es la clave del éxito de todo negocio</strong>.
    </p>

    <p>
      Soy un ingeniero en telecomunicaciones altamente motivado y comprometido.<strong
      > Mis experiencias me ha llevado a explorar la intersección entre la ciencia de datos,
      el código y el desarrollo de productos y servicios.</strong> Me defino por ser una persona honesta, respetuosa y responsable con ganas de aprender. 
      Siempre en busca de optimizar procesos y construir puentes entre la tecnología 
      y las conexiones humanas.
    </p>

    <p>
      Soy un profesional con una sólida base en el análisis de datos, empleando herramientas como
      <strong> Excel, Python y Power BI, </strong>para poder preparar, modelar, analizar y visualizar los datos.
      Mi experiencia en el desarrollo de productos, especialmente en el sector de las telecomunicaciones, me ha permitido adquirir habilidades en la 
      <strong>conceptualización y creación de soluciones innovadoras,</strong> siempre con el cliente en el centro
    </p>

    <p>
      Como ingeniero en telecomunicaciones, mis habilidades blandas se basan en la <strong>resolución de problemas (troubleshooting), 
        el uso de metodologías Ágiles y el marco de trabajo Scrum</strong>, así como la aplicación de la <strong>Metodología LEAN</strong>. Además, destaco 
      en la <strong>comunicación asertiva y efectiva, la gerencia de proyectos, el liderazgo en equipos multifacéticos y el manejo eficiente del tiempo.</strong> 
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
